<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/cryptictime.css" type="text/css">
    <link rel="stylesheet" href="../nav.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">
</head>
<body>
    <header class="header">
        <img src="../assets/BCS LOGO.png" class="logo" height="50">
        <!-- <input type="checkbox" id="check">
        <label for= "check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i></label> -->
        <div class="navbar">
            <a href="/" class="tab">Home</a>
            <!-- <a href="#" class="tab">Event</a> -->
            <a href="members" class="tab">Team</a>
            <a href="/crypt" class="tab">Axiom</a>
            <a href="login" class="tab">login</a>
            <a href="contact" class="tab">Contact Us</a>
        </nav></div>
    </header>
    <div class="page">
        <h1>AXIOMATRIX</h1>
        <h2>STAY TUNED</h2>
        <div class="time">
            <ul>
                <li>
                    <span id="days"></span>
                    <p>DAYS</p>
                </li>
                <li>
                    <span id="hours"></span>
                    <p>HOURS</p>
                </li>
                <li>
                    <span id="minutes"></span>
                    <p>MINUTES</p>
                </li>
                <li>
                    <span id="seconds"></span>
                    <p>SECONDS</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="../scripts/crytictime.js"></script>
</body>
</html>
