<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Backslash Computing Society is a student-run society at Thapar Institute of Engineering and Technology. We are a group of passionate individuals who are always ready to learn and share their knowledge with others.">
    <meta name="keywords" content="contact, backslash, thapar, TIET, Thapar Institute of Engineering and Technology, Backslash-Computing-Society, Backslash Computing Society, Thapar University, Cryptic Hunt, backslash society, backslash tiet, contact">
    <meta name="description" content="">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <title>Cryptic</title>
    <link rel="stylesheet" href="../cryptic.css" type="text/css">
    <link rel="stylesheet" href="../nav-bar.css" type="text/css">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../assets/logo copy.png" alt="logo" class="logo">
        </div>
        <nav>
            <div class="nav-mobile">
                <a href="#" id="nav-toggle">
                    <span></span>
                </a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/crypt">Cryptic</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/members">Team</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="bg"></div>
<!-- message div -->
        <div class="extra">
            <div class="text">
                <p>> greetings</p>
                <p>> .......</p>
                <p>> INITIALZING SEQUENCE</p>
            </div>
            <p id="message" >MESSAGE</p>
            <div class="coordinates">
                <label id="X"></label>
                <label id="Y">16.243.</label>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="leftbar">
            <textarea readonly name="" id="meme" cols="50" rows="30"></textarea>
        </div>
        <div class="qna">
            <div class="q">
                <div class="question">
                    <p id="question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem laboriosam cum pariatur culpa deleniti alias repellendus, eligendi quisquam minus! Optio odit vitae recusandae adipisci a maiores voluptatum nulla natus voluptates. rgoirwjgk yj  5ujk uk 6u k6k6k6 i7 mk7 ik7im7ikmi7k lorem</p>
                </div>
            </div>
            <div class="a">
                <div class="answer">
                    <input type="text" id="answer" name="answer" maxlength="30">
                </div>
            </div>
        </div>
        <div class="imageAndChat">
            <div class="imageBox">
                <div class="image" id="image">
                    <!-- <img onerror="this.style.display='none'" src="" alt="" > -->
                </div>
                <div class="terminator">
                    <div id="d1" class="hidden">
                        <img id="anchor" src="../assets/tm-ai-brush-removebg-z1zacs1.png" alt="">
                        <div id="eyes1" class="eye">
                            <div></div>
                        </div>
                        <div id="eyes2" class="eye">
                            <div></div>
                            <!-- <img src="./eyes.png" alt="eyes"> -->
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="chatBot">
                <audio controls id="audio" src="https://www.dropbox.com/scl/fi/85gv81p7pztfwx0thak9e/Mzg1ODMxNTIzMzg1ODM3_JzthsfvUY24.MP3?rlkey=g0n6xp5v8twr53srx85ae1ugc&raw=1">
                </audio>
            </div>
        </div>
    </div>
    <script src="../scripts/cryptic.js"></script>
</body>
</html>