<!DOCTYPE html>
<html>

<head>
	<title>Axiom</title>
	<meta charset="UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Iceland&family=VT323&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../styles.css" type="text/css">
<link rel="stylesheet" href="../nav.css" type="text/css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
<link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">
</head>

<body>
    <header class="header">
        <img src="../assets/BCS LOGO.png" class="logo" height="50">
        <div class="navbar">
            <a href="/" class="tab">Home</a>
            <a href="/members" class="tab">team</a>
            <a href="/crypt" class="tab">Axiom</a>
            <a href="/contact" class="tab">Contact</a>
            <a id="logout" class="tab">logout</a>
        </nav></div>
    </header>
    <div id="app"></div>
    <div id="container">
        <h1 id="home_h1">Hello I'm <span id="axiom-link">Axiom</span></h1>
        <h2 id="home_h2">Welcome to the <span>Simulation</span></h2>
    </div>

<script src="../scripts/shaders/ASCII.js" type="module">
</script>
<script src="../scripts/home.js" type="module">
</script>
</body>

</html>
