<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Backslash Computing Society is a student-run society at Thapar Institute of Engineering and Technology. We are a group of passionate individuals who are always ready to learn and share their knowledge with others.">
    <meta name="keywords" content="contact, backslash, thapar, TIET, Thapar Institute of Engineering and Technology, Backslash-Computing-Society, Backslash Computing Society, Thapar University, Cryptic Hunt, backslash society, backslash tiet, contact, backslash team, team, members">
    <meta X-Content-Type-Options="nosniff">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    
    <title>Team</title>
    <link rel="stylesheet" href="../nav.css" type="text/css">
    <link rel="stylesheet" href="../members.css" type="text/css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">

</head>

<body>
    <header class="header">
        <img src="../assets/BCS LOGO.png" class="logo" height="50">
        <!-- <input type="checkbox" id="check">
        <label for= "check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i></label> -->
        <div class="navbar">
            <a href="/" class="tab">Home</a>
            <a href="/members" class="tab">team</a>
            <a href="/crypt" class="tab">Axiom</a>
            <a href="/contact" class="tab">Contact</a>
            <a id="logout" class="tab">logout</a>
        </nav></div>
    </header>
    <div class="headerPage">
        <div class="Headings">
            <span class="P-Heading">MEET OUR TEAM</span>
        </div>
        <div class="page">
            <div class="card-m">
                <h2 class="title">Our <span class="red">Mentors</span></h2>
                <div class="cards">
                    <div class="m">
                        <div class="card_container">
                            <div class="card_details">
                                <img src="https://i.postimg.cc/x8Dx2VJs/1568448452214.jpg"
                                    alt="photo" class="details">
                                
                                    <h2><span class="nme">Dr. Anil K. Verma</span></h2>
                                
                                <div class="data">
                                    </br>
                                    <li>
                                            <h4><a href="https://www.linkedin.com/in/avermathapar/" target="_main"><i
                                                        class="fa-brands fa-linkedin-in" id="linkedin"></i></a></h4>
                                    </li>
                                    <div>
                                            <a href="https://www.thapar.edu/faculties/view/Dr.-Anil-Kumar-Verma/MjU4/NA==" target="_blank"><img class="ti-logo" src="../assets/ti.png" alt=""></a>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m">
                        <div class="card_container">
                            <div class="card_details">
                                <img src="https://i.postimg.cc/tTkYhXb4/image.png"
                                    alt="photo" class="details">
                                
                                    <h2><span class="nme">Dr. Shruti Aggarwal</span></h2>
                                
                                <div class="data">
                                    </br>
                                    <li>
                                        <h4><a href="https://www.linkedin.com/in/dr-shruti-aggarwal-7009892a4/" target="_main"><i
                                                    class="fa-brands fa-linkedin-in" id="linkedin"></i></a></h4>
                                </li>
                                <div>
                                        <a href="https://www.thapar.edu/faculties/view/Dr.-Shruti-Aggarwal/NTQ2/NTA1" target="_blank"><img class="ti-logo" src="../assets/ti.png" alt=""></a>
                                        
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-gs">
                <h2 class="title">Team <span class="red">Secretaries</span></h2><br>
                <div class="cards" id="Cardsgs">
                </div>
            </div><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic" rel="stylesheet" />
            <div class="card-hs">
                <h2 class="title">Team <span class="red">Heads</span></h2><br>
                <div class="cards" id="Cardsheads">
                </div>
            </div>
            <div class="card-tt">
                <h3 class="title">Tech <span class="red">Team</span></h3>
                <div class="cardstt" id="cardstt">
                    <div class="row" id="rowtt">
                    </div>
                </div>
            </div>
            <div class="card-dt">
                <h3 class="title">Design <span class="red">Team</span></h3>
                <div class="cardsdt">
                    <div class="row" id="rowdt">
                    </div>
                </div>
            </div>
            <div class="card-mt">
                <h3 class="title">Management <span class="red">Team</span></h3>
                <div class="cardsmt">
                    <div class="row" id="rowmt">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../scripts/navbar.js"></script>
    <script src="https://kit.fontawesome.com/f002491924.js" crossorigin="anonymous"></script>
    <script src="../scripts/card.js"></script>
</body>

</html>
